# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.SweepBarrage.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tyler\RiderProjects\SweepBarrage\.idea\.idea.SweepBarrage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
